div.formHolder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 92%;
  height: 100%;
  z-index: 0;
}
main.main-Upload {
  max-width: 100%;
  display: grid;
  height: calc(100% - 50px);
  grid-template-columns: 80px 1fr;
  grid-template-rows: 100%;
  padding: 4px;
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.011em;
  margin-left: 80px;
  padding-bottom: 100px;
}
form.formUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}
/* form#form-upload
{
    width: 100%;
    height: 100%;
} */
div.iptContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  margin-right: auto;
  margin-top: 40px;
}
div.iptContainer input {
  padding: 2px 14px;

  border: none;
  border-bottom: 1px solid;
}
div.iptContainer input:focus {
  outline: none;
}
div.iptContainer select {
  width: 50%;
  padding: 3px;
  text-align: center;
  border-radius: 10px;
}
div.iptContainer select:focus {
  outline: none;
}
div.iptContainer textarea {
  height: 60px;
  padding: 10px;
  border-radius: 13px;
  resize: none;
}
div.iptContainer textarea:focus {
  outline: none;
}
div.iptContainer input::file-selector-button {
  border-radius: 999px;
  border: none;
  padding: 6px 11px;
}
div.Upload {
  overflow: hidden;
  height: calc(100vh - 68px);
}
div.photoDisplay {
  position: relative;
  height: 70vh;
  width: 30vw;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  background-color: rgb(204, 204, 204);
  overflow: hidden;
}
div.photoDisplay input {
  height: 100%;
  z-index: 7;
  width: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
div.photoDisplay::-webkit-scrollbar {
  display: none;
}
div.MessageContainer {
  display: flex;
  top: 0;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;

  cursor: pointer;
}
p.dragPara {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

img.EpochDisplay {
  /* image to be displayed after upload */
  border-radius: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
}
div.mmPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div.catcontainer.error::before {
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: red;
}
div.catcontainer {
  position: relative;
}
div.catcontainer ul {
  list-style: none;
  margin-top: 7px;
}
div.Tagscontainer {
  position: relative;
}
div.Tagscontainer.error::before {
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: red;
}
div.Tagscontainer ul {
  list-style: none;
  /* display: grid;
    margin-top: 7px;
    grid-template-columns: 10px 10px 10px 10px 10px;
    justify-content: space-between;
    padding: 0; */
}
input.error,
select.error,
textarea.error {
  border-color: red !important;
}
div.catcontainer.error {
  border-color: red !important;
}
button.publish {
  border-radius: 10px;
  background-color: rgb(238, 37, 37);
  color: white;
  border: none;
  opacity: 0;
  padding: 6px 11px;
  width: 8rem;
  font-size: large;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.4s ease;
  pointer-events: none;
}
.publish:hover {
  transform: translateY(-6%);
}
button.publish.active {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
button.publish.error:hover {
  transform: translateY(0%);
}
div.formUpload1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
}

div.buttonEtmessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 23%;
  width: 100%;
}
div.responseMessageContainer {
  width: 100%;
  display: flex;
  height: 40%;
  justify-content: center;
}
div.responseMessage {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20%);
  border-radius: 9px;
  padding: 0.6em;
  box-shadow: 0 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  opacity: 0;
  transform: translateX(100%);
  color: white;
  font-weight: bold;
  transition:
    transform 0.9s ease-in-out,
    opacity 0.6s ease-in;
  height: min(40px, 70%);
  background-color: rgb(21, 168, 21);
}
div.responseMessage.active {
  opacity: 1;
  transform: translate(0);
}
div.errorResponseMessage {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20%);
  border-radius: 9px;
  padding: 0.6em;
  box-shadow: 0 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  transform: translateX(100%);
  color: white;
  font-weight: bold;
  transition:
    transform 0.9s ease-in-out,
    opacity 0.6s ease-in;
  height: min(40px, 70%);
  background-color: rgb(255, 0, 0);
  opacity: 0;
}
div.errorResponseMessage.active {
  transform: translateX(0);
  opacity: 1;
}

svg.loader {
  z-index: 999;
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
  opacity: 1;
}

svg .path {
  stroke: #3498db;
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
