main.mainUpload {
  max-width: 100%;
  display: grid;
  height: calc(100% - 50px);
  grid-template-columns: 80px 1fr;
  grid-template-rows: 100%;
  padding: 4px;
  margin-top: 90px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.011em;
  margin-left: 80px;
  padding-bottom: 100px;
}
