header.main {
  flex-shrink: 0;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 100vw;
  box-shadow: 0 1px 3px black;
  height: 70px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  overflow: hidden;
}
div.companyname {
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  width: min(150px, 25%);
}

div.companyname a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
div.companyname a svg {
  display: block;
  width: 100%;
}
div.companyname a svg text {
  font-family: "Apple Chancery", "URW Chancery L", "Georgia", cursive;
  font-style: italic;
  font-size: 4rem;
  fill: #000000;
}
div.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: calc(100% - min(150px, 25%));
  height: 100%;
}
div.iptsearch {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
img.profilephoto {
  cursor: pointer;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.searchbox {
  border-radius: 9px;
  padding: 6px;
  height: 70%;
  width: 70%;
  box-shadow: 0px 1px 4px whitesmoke;
  border: none;
  background-color: #e0dfdf;
}
.searchbox::-webkit-search-cancel-button {
  display: none;
}

.searchbox:focus {
  outline: none;
  background-color: #cacaca;
}
.searchbox:hover {
  background-color: #b3b2b2;
}

button.btnsearch {
  height: 30px;
  width: 58px;
  border: 1px solid;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 1px 4px whitesmoke;
  border-color: rgb(44, 39, 39);
}
button.btnsearch:hover {
  background: linear-gradient(grey, white);
}
