* {
  margin: 0;
  padding: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
body {
  height: auto;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}
/* the bove style is for feed page */
