main.mainFeed {
  max-width: 100%;
  padding: 20px;
  margin-left: 80px;
  margin-top: 70px;
}

main.mainFeed::-webkit-scrollbar {
  display: none;
}

div.whole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.articleContainer {
  column-count: 8;
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 1200px) {
  div.articleContainer {
    column-count: 6;
  }
}

@media (max-width: 800px) {
  div.articleContainer {
    column-count: 5;
  }
}

@media (max-width: 500px) {
  div.articleContainer {
    column-count: 3;
  }
}

/* 
main.mainFeed{
    max-width: 100%;
    padding: 20px;
    margin-left: 80px;
    margin-top: 70px;
}

main.mainFeed::-webkit-scrollbar
{
    display: none;
}
    

div.whole
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
div.articleContainer
{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,0.3fr));
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
   
} */
