svg.loader {
  z-index: 999;
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
  opacity: 1;
}

svg .path {
  stroke: #3498db;
  stroke-width: 4;
  stroke-linecap: round;
  fill: none;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
