div.explorediv {
  position: relative;
}
div.explorediv::after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 3rem;
  width: 0.7rem;
  right: -10px;
  cursor: pointer;
  bottom: 0;
}
div.exploreListContainer {
  position: absolute;
  top: -50px;
  right: -280px;
  background-color: rgb(249, 249, 249);
  height: max-content;
  width: 250px;
  z-index: 100;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 1px 4px;
  display: none;
}
div.explorediv:hover > div.exploreListContainer {
  display: block;
}
div.exploreListContainer ul {
  display: flex;
  flex-direction: column;
  list-style: none;

  justify-content: center;
  align-items: center;
  gap: 10px;
}
div.exploreListContainer ul li:hover {
  background-color: rgb(207, 205, 197);
}
div.exploreListContainer ul li {
  width: 100%;
  text-align: center;
  border-radius: 7px;
  padding: 4px;
}
div.exploreListContainer ul li a {
  text-decoration: none;
  display: block;
}
div.sideTopclassexplore,
div.sideTopclass {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 3rem;
  width: 3rem;
}
div.sideTopclassexplore:hover,
div.sideTopclass:hover {
  background-color: rgb(130, 127, 124);
}
