div.notificationContainer {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

div.notifeed {
  position: absolute;
  width: min(400px, 75vw);
  height: 56vh;
  top: -60px;
  left: 60px;
  z-index: 90;
  background-color: rgb(249, 249, 249) !important;
  border-radius: 9px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  overflow-y: auto;
  box-shadow: 0 1px 4px;
}
div.notifeed img {
  width: 60px;
}
span.notificationCounter {
  position: absolute;
  top: 0;
  right: -4px;
  width: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 9px;
  padding: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
div.sideTopclassexplore,
div.sideTopclass {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: 3rem;
  width: 3rem;
}
div.sideTopclassexplore:hover,
div.sideTopclass:hover {
  background-color: rgb(130, 127, 124);
}
