main.mainFeed {
  max-width: 100%;
  padding: 20px;
  margin-left: 80px;
  margin-top: 70px;
}

main.mainFeed::-webkit-scrollbar {
  display: none;
}

div.whole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div.articleContainer {
  column-count: 8;
  column-gap: 20px;
  width: 100%;
}
@media (max-width: 1200px) {
  div.articleContainer {
    column-count: 6;
  }
}

@media (max-width: 800px) {
  div.articleContainer {
    column-count: 5;
  }
}

@media (max-width: 500px) {
  div.articleContainer {
    column-count: 3;
  }
}

div.article {
  break-inside: avoid;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid whitesmoke;
  /* box-shadow: 1px 2px 5px grey; */
  overflow: hidden;
  transition:
    filter 0.2s ease,
    transform 0.2s ease;
}

div.article img {
  width: 100%;
  height: auto;
  display: block;
}
div.article:hover {
  cursor: pointer;
  filter: brightness(70%);
  transform: scale(1.01);
}

/* div.article 
{
    border-radius: 15px;
    border-color:whitesmoke;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 2px 5px grey;
    overflow: hidden;
    transition: ease-in 0.2s filter;
    
    
}

div.article img{
    margin: 0;
   display:block;
   max-height: 100%;
   max-width: 100%;
   height: 350px;
   width: 100%;
   
   

}
div.article:hover
{
    cursor: pointer;
    filter: brightness(65%);
    
} */

/* 
main.mainFeed{
    max-width: 100%;
    padding: 20px;
    margin-left: 80px;
    margin-top: 70px;
}

main.mainFeed::-webkit-scrollbar
{
    display: none;
}
    

div.whole
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
div.articleContainer
{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,0.3fr));
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
   
} */
